In [34]:
import pandas as pd

In [35]:
df=pd.read_csv('Exoplanet-file1.csv')
df #original file

,Exoplanet,Host star,a,Ds,Dp,Diameter of planet in terms of Earth's diameter,Diameter of star in terms of Sun's diameter,Ds/Dp,d/Ds
0,11 Com b,11 Com,1.29,NaN,19.00,0.0,19.00,#DIV/0!,7.296635662
1,11 Com b,11 Com,1.21,NaN,19.00,0.0,19.00,#DIV/0!,6.844131125
2,11 UMi b,11 UMi,1.54,NaN,24.08,0.0,24.08,#DIV/0!,6.873070369
3,11 UMi b,11 UMi,1.51,NaN,24.08,0.0,24.08,#DIV/0!,6.739179388
4,11 UMi b,11 UMi,1.53,NaN,29.79,0.0,29.79,#DIV/0!,5.519598396
...,...,...,...,...,...,...,...,...,...
33868,ups And d,ups And,2.51,NaN,NaN,0.0,0.00,#DIV/0!,#DIV/0!
33869,ups And d,ups And,2.57,NaN,NaN,0.0,0.00,#DIV/0!,#DIV/0!
33870,ups Leo b,ups Leo,1.18,NaN,11.22,0.0,11.22,#DIV/0!,11.30253089
33871,xi Aql b,xi Aql,0.58,NaN,NaN,0.0,0.00,#DIV/0!,#DIV/0!
33872,xi Aql b,xi Aql,0.68,NaN,12.00,0.0,12.00,#DIV/0!,6.089956897

In [43]:
kepler_452b_row = df[df['Exoplanet'] == 'Kepler-452 b']
kepler_452b_row

,Exoplanet,Host star,a,Ds,Dp,Diameter of planet in terms of Earth's diameter,Diameter of star in terms of Sun's diameter,Ds/Dp,d/Ds
24324,Kepler-452 b,Kepler-452,0.9892,1.130,0.79,1.130,0.79,76.291011,134.568549
24325,Kepler-452 b,Kepler-452,1.0460,1.630,1.11,1.630,1.11,74.312197,101.273369
24326,Kepler-452 b,Kepler-452,NaN,1.511,1.11,1.511,1.11,80.164712,0.000000
24327,Kepler-452 b,Kepler-452,NaN,1.500,1.06,1.500,1.06,77.115083,0.000000
24328,Kepler-452 b,Kepler-452,NaN,NaN,1.12,0.000,1.12,NaN,0.000000
24329,Kepler-452 b,Kepler-452,0.9940,1.090,0.80,1.090,0.80,80.091829,133.531261

In [44]:
df['Ds/Dp']=pd.to_numeric(df['Ds/Dp'],errors='coerce')
x=df['Ds/Dp']>=75
y=df['Ds/Dp']<=130
z1= df[(x) & (y)] #extracting ratio of Ds/Dp in range 
z1

,Exoplanet,Host star,a,Ds,Dp,Diameter of planet in terms of Earth's diameter,Diameter of star in terms of Sun's diameter,Ds/Dp,d/Ds
346,EPIC 201595106 b,EPIC 201595106,NaN,1.300,0.93,1.300,0.93,78.066430,0.000000
348,EPIC 201595106 b,EPIC 201595106,NaN,1.200,0.99,1.200,0.99,90.028222,0.000000
351,EPIC 201757695.02,EPIC 201757695,0.0296,0.908,0.66,0.908,0.66,79.320019,4.819859
362,EPIC 206024342 c,EPIC 206024342,NaN,1.350,0.94,1.350,0.94,75.983415,0.000000
363,EPIC 206024342 c,EPIC 206024342,NaN,1.160,0.82,1.160,0.82,77.140169,0.000000
...,...,...,...,...,...,...,...,...,...
31412,Kepler-999 b,Kepler-999,NaN,2.340,1.65,2.340,1.65,76.947198,0.000000
31415,Kepler-999 b,Kepler-999,0.0660,1.510,1.11,1.510,1.11,80.217802,6.390098
32217,TOI-1860 b,TOI-1860,NaN,1.270,0.93,1.270,0.93,79.910519,0.000000
32218,TOI-1860 b,TOI-1860,0.0204,1.310,0.94,1.310,0.94,78.303519,2.332324
32337,TOI-411 b,TOI-411,NaN,1.547,1.12,1.547,1.12,79.004610,0.000000

In [45]:
#extracting duplicates
import pandas as pd


# Extract the exoplanets column as a list
exoplanets_list = z1["Exoplanet"].tolist()

# Find duplicate exoplanet names
duplicate_names = set([x for x in exoplanets_list if exoplanets_list.count(x) > 1])

# Exclude rows with exoplanets having duplicate names
z1 = z1[~z1["Exoplanet"].isin(duplicate_names)]

# Save the modified DataFrame to a new CSV file
z1

,Exoplanet,Host star,a,Ds,Dp,Diameter of planet in terms of Earth's diameter,Diameter of star in terms of Sun's diameter,Ds/Dp,d/Ds
351,EPIC 201757695.02,EPIC 201757695,0.0296,0.908,0.66,0.908,0.66,79.320019,4.819859
416,EPIC 212624936 b,EPIC 212624936,NaN,1.200,0.93,1.200,0.93,84.571966,0.000000
423,EPIC 220492298 b,EPIC 220492298,NaN,0.990,0.89,0.990,0.89,98.102378,0.000000
449,EPIC 249893012 b,EPIC 249893012,0.0470,1.950,1.71,1.950,1.71,95.694334,2.953849
2009,HD 158259 b,HD 158259,NaN,1.292,1.26,1.292,1.26,106.422328,0.000000
...,...,...,...,...,...,...,...,...,...
30024,Kepler-881 b,Kepler-881,0.0550,1.420,1.02,1.420,1.02,78.385648,5.794942
30244,Kepler-90 i,KOI-351,NaN,1.320,1.29,1.320,1.29,106.645001,0.000000
30448,Kepler-918 b,Kepler-918,0.0570,1.360,0.96,1.360,0.96,77.029495,6.381021
30816,Kepler-948 b,Kepler-948,0.0750,1.310,0.94,1.310,0.94,78.303519,8.574720
32337,TOI-411 b,TOI-411,NaN,1.547,1.12,1.547,1.12,79.004610,0.000000

In [46]:
df['d/Ds']=pd.to_numeric(df['d/Ds'],errors='coerce')
x=df['d/Ds']>=75
y=df['d/Ds']<=130
z2= df[(x) & (y)]
z2

,Exoplanet,Host star,a,Ds,Dp,Diameter of planet in terms of Earth's diameter,Diameter of star in terms of Sun's diameter,Ds/Dp,d/Ds
42,30 Ari B b,30 Ari B,0.9950,NaN,1.13,0.00,1.13,NaN,94.630512
43,30 Ari B b,30 Ari B,1.0100,NaN,1.13,0.00,1.13,NaN,96.057103
44,30 Ari B b,30 Ari B,0.9900,NaN,1.41,0.00,1.41,NaN,75.457539
110,55 Cnc f,55 Cnc,0.7920,NaN,0.96,0.00,0.96,NaN,88.662608
111,55 Cnc f,55 Cnc,0.7700,NaN,0.96,0.00,0.96,NaN,86.199758
...,...,...,...,...,...,...,...,...,...
31918,PH2 b,PH2,0.8360,8.98,0.91,8.98,0.91,11.058336,98.730523
31920,PH2 b,PH2,0.8454,11.24,1.12,11.24,1.12,10.873677,81.120529
31922,PH2 b,PH2,0.8280,10.12,1.00,10.12,1.00,10.783114,88.985017
31923,PH2 b,PH2,0.8454,11.24,1.12,11.24,1.12,10.873677,81.120529
33295,WASP-47 c,WASP-47,1.3600,NaN,1.15,0.00,1.15,NaN,127.094753

In [47]:
import pandas as pd


# Extract the exoplanets column as a list
exoplanets_list = z2["Exoplanet"].tolist()

# Find duplicate exoplanet names
duplicate_names = set([x for x in exoplanets_list if exoplanets_list.count(x) > 1])

# Exclude rows with exoplanets having duplicate names
z2 = z2[~z2["Exoplanet"].isin(duplicate_names)]

# Save the modified DataFrame to a new CSV file
z2

,Exoplanet,Host star,a,Ds,Dp,Diameter of planet in terms of Earth's diameter,Diameter of star in terms of Sun's diameter,Ds/Dp,d/Ds
125,7 CMa b,7 CMa,1.9000,NaN,2.30,0.000,2.30,NaN,88.779423
548,GJ 3323 c,GJ 3323,0.1264,NaN,0.12,0.000,0.12,NaN,113.201552
626,GJ 514 b,GJ 514,0.4220,NaN,0.50,0.000,0.50,NaN,90.704534
819,HAT-P-13 c,HAT-P-13,1.1880,NaN,1.56,0.000,1.56,NaN,81.842407
1520,HD 100777 b,HD 100777,1.0300,NaN,1.04,0.000,1.04,NaN,106.436464
1644,HD 109286 b,HD 109286,1.2590,NaN,1.09,0.000,1.09,NaN,124.132581
1677,HD 113538 b,HD 113538,0.7100,NaN,0.65,0.000,0.65,NaN,117.390119
1754,HD 125612 b,HD 125612,1.2000,NaN,1.05,0.000,1.05,NaN,122.822660
1794,HD 128356 b,HD 128356,0.8700,NaN,0.85,0.000,0.85,NaN,109.998529
1842,HD 137496 c,HD 137496,1.2163,NaN,1.59,0.000,1.59,NaN,82.211039
1890,HD 142415 b,HD 142415,1.0600,NaN,1.04,0.000,1.04,NaN,109.536555
1905,HD 145934 b,HD 145934,4.6000,NaN,5.38,0.000,5.38,NaN,91.888700
1923,HD 148164 b,HD 148164,0.9930,NaN,1.34,0.000,1.34,NaN,79.639954
1980,HD 154857 b,HD 154857,1.2910,NaN,1.76,0.000,1.76,NaN,78.831561
1999,HD 156411 b,HD 156411,1.8800,NaN,2.16,0.000,2.16,NaN,93.538554
2017,HD 159243 c,HD 159243,0.8000,NaN,1.12,0.000,1.12,NaN,76.764163
2030,HD 160691 b,HD 160691,1.5350,NaN,1.38,0.000,1.38,NaN,119.540714
2078,HD 165155 b,HD 165155,1.1300,NaN,0.95,0.000,0.95,NaN,127.832532
2145,HD 17674 b,HD 17674,1.4200,NaN,1.18,0.000,1.18,NaN,129.328098
2238,HD 188015 b,HD 188015,1.1870,NaN,1.13,0.000,1.13,NaN,112.890872
2300,HD 191939 g,HD 191939,0.8120,NaN,0.94,0.000,0.94,NaN,92.835638
2409,HD 20868 b,HD 20868,0.9470,NaN,0.79,0.000,0.79,NaN,128.827755
2530,HD 219415 b,HD 219415,3.2000,NaN,2.90,0.000,2.90,NaN,118.587396
2610,HD 24040 c,HD 24040,1.3000,NaN,1.39,0.000,1.39,NaN,100.511349
2748,HD 34445 f,HD 34445,1.5430,NaN,1.38,0.000,1.38,NaN,120.163727
2799,HD 38801 b,HD 38801,1.6230,NaN,2.03,0.000,2.03,NaN,85.922921
2827,HD 40307 g,HD 40307,0.6069,NaN,0.72,0.000,0.72,NaN,90.588109
2860,HD 43197 b,HD 43197,0.9200,NaN,1.00,0.000,1.00,NaN,98.872241
2864,HD 44219 b,HD 44219,1.1900,NaN,1.32,0.000,1.32,NaN,96.885678
2874,HD 45364 b,HD 45364,0.6793,NaN,0.89,0.000,0.89,NaN,82.027252
2875,HD 45364 c,HD 45364,0.9020,NaN,0.89,0.000,0.89,NaN,108.918859
2888,HD 4732 c,HD 4732,4.6000,NaN,5.40,0.000,5.40,NaN,91.548372
2941,HD 564 b,HD 564,1.2000,NaN,1.01,0.000,1.01,NaN,127.686924
2969,HD 63765 b,HD 63765,0.9400,NaN,0.83,0.000,0.83,NaN,121.712817
3012,HD 69830 d,HD 69830,0.6450,NaN,0.89,0.000,0.89,NaN,77.885437
3129,HD 82943 c,HD 82943,0.7209,NaN,1.03,0.000,1.03,NaN,75.218445
3333,HIP 56640 b,HIP 56640,3.7300,NaN,4.93,0.000,4.93,NaN,81.310843
3392,HR 810 b,HR 810,0.9200,NaN,1.13,0.000,1.13,NaN,87.497559
5174,KIC 3526061 b,KIC 3526061,5.1400,NaN,5.86,0.000,5.86,NaN,94.265344
5191,KIC 9663113 b,KIC 9663113,1.4062,5.800,1.30,5.800,1.30,24.459078,116.249286
5608,Kapteyn c,Kapteyn,0.3110,NaN,0.29,0.000,0.29,NaN,115.252125
10245,Kepler-1341 b,Kepler-1341,0.4450,1.930,0.59,1.930,0.59,33.359492,81.057751
13332,Kepler-16 b,Kepler-16,0.7048,8.449,0.65,8.449,0.65,8.395233,116.530361
13361,Kepler-1600 b,Kepler-1600,0.9712,2.960,0.83,2.960,0.83,30.599273,125.752646
13947,Kepler-1661 b,Kepler-1661,0.6330,3.870,0.76,3.870,0.76,21.430256,89.511054
16340,Kepler-1881 b,Kepler-1881,0.5470,2.700,0.76,2.700,0.76,30.716700,77.349994
21860,Kepler-34 b,Kepler-34,1.0896,8.564,1.16,8.564,1.16,14.781076,100.947521
23786,Kepler-419 c,Kepler-419,1.6800,NaN,1.74,0.000,1.74,NaN,103.763971
23826,Kepler-421 b,Kepler-421,0.9230,4.730,0.79,4.730,0.79,18.225971,125.562849
23867,Kepler-424 c,Kepler-424,0.7300,NaN,0.94,0.000,0.94,NaN,83.460611
24325,Kepler-452 b,Kepler-452,1.0460,1.630,1.11,1.630,1.11,74.312197,101.273369
24330,Kepler-453 b,Kepler-453,0.7903,6.204,0.83,6.204,0.83,14.599266,102.329403
24489,Kepler-47 d,Kepler-47,0.6992,7.040,0.94,7.040,0.94,14.570683,79.939259
25090,Kepler-511 b,Kepler-511,0.8540,5.040,0.95,5.040,0.95,20.569219,96.609719
27470,Kepler-68 d,Kepler-68,1.4000,NaN,1.24,0.000,1.24,NaN,121.336902
33295,WASP-47 c,WASP-47,1.3600,NaN,1.15,0.000,1.15,NaN,127.094753

In [50]:
import pandas as pd

# Assuming you have already loaded the CSV file into the DataFrame 'df'
# df = pd.read_csv('Exoplanet-file1.csv')

# Convert 'Ds/Dp' column to numeric, ignoring non-numeric values and converting them to NaN
df.loc[:, 'Ds/Dp'] = pd.to_numeric(df['Ds/Dp'], errors='coerce')

# Convert 'd/Ds' column to numeric, ignoring non-numeric values and converting them to NaN
df.loc[:, 'd/Ds'] = pd.to_numeric(df['d/Ds'], errors='coerce')

# Combined condition
condition_combined = (df['Ds/Dp'] >= 75) & (df['Ds/Dp'] <= 130) & (df['d/Ds'] >= 75) & (df['d/Ds'] <= 130)

# Apply the combined condition to filter the DataFrame
filtered_df = df[condition_combined]
filtered_df

Empty DataFrame
Columns: [Exoplanet, Host star, a, Ds, Dp, Diameter of planet in terms of Earth's diameter, Diameter of star in terms of Sun's diameter, Ds/Dp, d/Ds]
Index: []